body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 12px;
	width: 460px;
	color: #333;
}

h1, h2 {
	margin: 0;
}
h1 {
	font-size: 130%;
	display: inline-block;
}
h2 {
	font-size: 115%;
}

header {
	padding: 0.5em 0 0;
}

.invisible {
	display: none;
}

.user-info {
	float: right;
	font-weight: bold;
	background: url("../img/user.png") left no-repeat;
	padding-left: 20px;
}

.loading {
	float: right;
	background: url("../img/loader.gif") right no-repeat;
	padding-right: 20px;
}

.messages {
	list-style: none;
	margin-left: -40px;
}
.messages li {
	border: 1px solid;
	padding: 0.5em;
	padding-left: 2em;
	margin-bottom: 0.5em;
	background-position: 0.5em;
	background-repeat: no-repeat;
}
.messages li.success {
	color: #468847;
	border-color: #d6e9c6;
	background-color: #dff0d8;
	background-image: url("../img/ok.png");
}
.messages li.error {
	color: #b94a48;
	border-color: #eed3d7;
	background-color: #f2dede;
	background-image: url("../img/error.png");
}

.menu {
	clear: both;
	border-bottom: 1px solid #ccc;
	height: 26px;
	text-align: left;
	padding: 0.5em 0 0 0.5em;
	margin: 0;
}
.menu a {
	color: #666;
	text-decoration: none;
	display: inline-block;
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(232,232,232)), color-stop(1, rgb(255,255,255)));
	border: 1px solid #ccc;
	border-bottom: none;
	border-radius: 3px 3px 0 0;
	font-weight: bold;
	margin-right: 0.5em;
	padding: 0.5em 0.5em 0.45em;
}
.menu a.active {
	color: #333;
	text-decoration: none;
	padding-bottom: 0.5em;
	background:-webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(232,232,232)));
}

.menu a.orange {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(252,217,151)), color-stop(1, rgb(255,255,255)));
}
.menu a.orange.active {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(252,217,151)));
}
.menu a.green {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(185,252,151)), color-stop(1, rgb(255,255,255)));
}
.menu a.green.active {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(185,252,151)));
}
.menu a.red {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(250,142,142)), color-stop(1, rgb(255,255,255)));
}
.menu a.red.active {
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(255,255,255)), color-stop(1, rgb(250,142,142)));
}

.content {
	clear: both;
	padding-top: 0.5em;
	text-align: center;
	position: relative;
	overflow-y: auto;
	max-height: 450px;
}

.points {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 160%;
}

a.edux-link {
	display: block;
	position: fixed;
	bottom: 0.5em;
}

table {font-size:0.9em;margin:0 auto; border-spacing:0;border:none}
table tr td {padding:2px 5px;border:none;border-bottom:1px solid #CCC}
table tr td:nth-child(1) {text-align:right}
table tr td:nth-child(1):after {content: ":"}
table tr td:nth-child(2) {text-align:left;font-weight:bold}
table tr:last-child td {border:none}
table tr:nth-child(odd) td {background:#EDEDED}
fieldset {border-radius:4px;border:1px solid #CCC}
fieldset legend {color:#666}
a {color:#03C}
a:hover {text-decoration:none;color:#036}
